/*!
* 后台自定义css
*/

input[type="text"].form-control,
input[type="password"].form-control,
input[type="date"].form-control,
input[type="number"].form-control,
textarea.form-control,
select.form-control {
    border-radius: 3px;
}

.help-block-line {
    margin-top: 0;
}

.help-line {
    display: inline-block;
    margin-top: 0;
    font-size: 12px;
    font-style: normal;
    color: #a4a4a4;
}

@media screen and (max-width: 992px) {
    .help-line {
        display: block;
    }
}

.form-option-line {
    padding-left: 8px;
    padding-right: 8px;
}

.form-validate-msg {
    font-size: 12px;
    font-style: normal;
    color: #f3b760;
    margin-top: 5px;
}

.form-option-require {
    background-image: url("../img/common/require.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
    display: inline-block;
    height: 25px;
    width: 10px;
    height: 10px;
}

.filePicker {
    display: inline-block;
    vertical-align: bottom;
}

.form-option-webuploader-line {
    padding-top: 0;
}

.ui-sortable-images-state-highlight {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    float: left;
    background-color: #fff;
    border: 1px dashed #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
    box-sizing: border-box;
    width: 110px;
    height: 110px;
}

.js-upload-file .uploader-list .file-item {
    width: 800px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
    .js-upload-file .uploader-list .file-item {
        width: 600px;
    }
}

@media screen and (max-width: 992px) {
    .js-upload-file .uploader-list .file-item {
        width: 100%;
    }
}

.webuploader-box .uploader-list img.uploader-img {
    width: 100px;
    height: 100px;
}

.webuploader-box .uploader-list .file-item {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}

